<!DOCTYPE html>
<html ng-app='codeLibrary'>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Library</title>

    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">

    <!--Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>

    <!--Materialize mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Bootstrap code logo-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body ng-controller="mainCtrl">
    <header class="header">

        <a ui-sref="landing" id="logo" class="fa fa-code code-icon fa-5x" color="red"></a>

    </header>

    <main class="main-container">

        <section class="left-menu-section">
            <!--Search Input-->
            <div class="search-box">
            <section class="search-bar z-depth-3">
                <nav>
                    <div class="nav-wrapper #ff9e80 deep-orange accent-1">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" ng-model="filterTopic" class="search" placeholder="Search by topic" name="search" value="">
                                <label for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </section>
            </div>

            <!--All of the different topic views-->
            <a ui-sref="{{topic.state}}" ng-repeat='topic in topics | filter: filterTopic '>
                <p class="topic-names">
                    {{topic.name}}
                </p>
            </a>
        </section>

        <ui-view></ui-view>

    </main>

    <!--Angular-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

    <!--Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script src='js/app.js'></script>
    <script src='controllers/mainCtrl.js'></script>
    <script src='services/topicService.js'></script>
    <script src='indexCtrl.js'></script>
    <script src="controllers/landingCtrl.js"></script>
    <script src="services/landingService.js"></script>
    <script src="controllers/gitCtrl.js"></script>
    <script src="services/gitService.js"></script>

</body>

</html>