<section class="layoutTemplate">

    <section class="headers-section">
        <h1 class="headers">What is GitHub?</h1></section>

    <body>
        <div class="container">
            <section>
                <hr class="horizontal-line">
                <p class="paragraph-section">GitHub is a web-based Git repository hosting service. GitHub is how you'll share your code. Think of it like
                    the cloud, it updates your projects whenever you chose. Git is the command-line tool, while GitHub is
                    the actual website where you can see your projects.</p>
            </section>


            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">done</i>Download Git and sign up for GitHub</div>
                    <div class="collapsible-body">
                        <p><a href="https://help.github.com/articles/set-up-git/">Set up Git</a></href></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">done</i>Now do that!</div>
                    <div class="collapsible-body">

                        <p>This is a detailed guide for the next step and an example of a code snippets. A great way to practice
                            and learn the syntax better is to write out the snippet instead of copy/pasting.</p>

                        <!--Code snippet sample-->
                        <div style="background: #f0f0f0; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
                            <table>
                                <tr>
                                    <td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13</pre></td>
                                    <td><pre style="margin: 0; line-height: 125%"><span style="color: #007020; font-weight: bold">function</span> factorialize(num) {
  
  <span style="color: #007020; font-weight: bold">var</span> returnMe <span style="color: #666666">=</span> <span style="color: #40a070">1</span>;
  
  <span style="color: #007020; font-weight: bold">for</span> (<span style="color: #007020; font-weight: bold">var</span> i <span style="color: #666666">=</span> <span style="color: #40a070">2</span>; i <span style="color: #666666">&lt;=</span> num; i<span style="color: #666666">++</span>) {
    returnMe <span style="color: #666666">=</span> returnMe <span style="color: #666666">*</span> i;
  }
  
  <span style="color: #007020; font-weight: bold">return</span> returnMe;
  
}

factorialize(<span style="color: #40a070">5</span>);
</pre></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">done</i>Last part!</div>
                    <div class="collapsible-body">

                        <p>Now hopefully you've been able to walk through each step and build your foundation to start coding.</p>

                    </div>
                </li>
            </ul>
        </div>

    </body>

    <!-- resources section -->
    <section class="headers-section">
        <h1 class="headers">Additional Resources:</h1>
    </section>

    <hr class="horizontal-line">

    <section class="steps">
        <a href="http://rogerdudler.github.io/git-guide/">
            <p>http://rogerdudler.github.io/git-guide/</p>
        </a>
        <a href="https://www.atlassian.com/git/tutorials/setting-up-a-repository/">
            <p>https://www.atlassian.com/git/tutorials/setting-up-a-repository/</p>
        </a>
       

    </section>



</section>