<section class="layoutTemplate">

    <header class="header-container">
        <h1 class="title">CODE-LIBRARY</h1>
    </header>

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn-large modal-trigger #00c853 green accent-4" href="#modal1">MOTIVATE YO'SELF</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Motivation For The Day</h4>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZXsQAXx_ao0" frameborder="0" allowfullscreen></iframe>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I will go forth and code</a>
        </div>
    </div>

    <body>
        <div class="container">
            <div class="about-section">

                <p>
                    This site is <strong>by</strong> DevMountain students & <strong>for</strong> DevMountain students.
                </p>


                <p>
                    Like many bootcamp students, we struggled remembering a lot of the syntax and how to put all of the pieces of the puzzle
                    together. Our hope is that you can use this resource as a reference for practice.
                </p>

                <p>
                    Keep in mind. We display the bare-bones, simplest version of the code you need to get started. There is so much more to the
                    world of the MEAN stack. Use these snippets and principles as a foundation for your learning.
                </p>

            </div>

        </div>
    </body>

    <div class="parallax-container">
        <div class="parallax"><img src="images\devmountain.jpg"></div>
    </div>

    <body>
        <div class="container">

            <div class="how-section">

                <h2 class="how-title">HOW TO</h2>

                <p>
                    Please use the top-left search bar to find the topic you're looking for.
                </p>

                <p>
                    Each topic will have a high-level step by step guide. If you know how to execute the step, great! If not, you simply click
                    on the step and more extensive instructions will appear in a drop-down.
                </p>
            </div>

            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">done</i>Do this!</div>
                    <div class="collapsible-body">
                        <p>Here is a detailed first step. Settting up your file structure etc.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">done</i>Now do that!</div>
                    <div class="collapsible-body">

                        <p>This is a detailed guide for the next step and an example of a code snippets. A great way to practice
                            and learn the syntax better is to write out the snippet instead of copy/pasting.</p>

                        <!--Code snippet sample-->
                        <div style="background: #f0f0f0; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
                            <table>
                                <tr>
                                    <td><pre style="margin: 0; line-height: 125%"> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13</pre></td>
                                    <td><pre style="margin: 0; line-height: 125%"><span style="color: #007020; font-weight: bold">function</span> factorialize(num) {
  
  <span style="color: #007020; font-weight: bold">var</span> returnMe <span style="color: #666666">=</span> <span style="color: #40a070">1</span>;
  
  <span style="color: #007020; font-weight: bold">for</span> (<span style="color: #007020; font-weight: bold">var</span> i <span style="color: #666666">=</span> <span style="color: #40a070">2</span>; i <span style="color: #666666">&lt;=</span> num; i<span style="color: #666666">++</span>) {
    returnMe <span style="color: #666666">=</span> returnMe <span style="color: #666666">*</span> i;
  }
  
  <span style="color: #007020; font-weight: bold">return</span> returnMe;
  
}

factorialize(<span style="color: #40a070">5</span>);
</pre></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">done</i>Last part!</div>
                    <div class="collapsible-body">

                        <p>A detailed guide to the last step.</p>

                        <!--Code snippet sample-->
                        <div style="background: #f0f0f0; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
                            <table>
                                <tr>
                                    <td><pre style="margin: 0; line-height: 125%">1
2
3
4
5</pre></td>
                                    <td><pre style="margin: 0; line-height: 125%"><span style="color: #007020; font-weight: bold">function</span> reverseString(str) {
  <span style="color: #007020; font-weight: bold">return</span> str.split(<span style="color: #4070a0">&#39;&#39;</span>).reverse().join(<span style="color: #4070a0">&#39;&#39;</span>);
}

reverseString(<span style="color: #4070a0">&quot;hello&quot;</span>);
</pre></td>
                                </tr>
                            </table>
                        </div>

                        <p>Now hopefully you've been able to walk through each step and build your foundation to start coding.</p>

                    </div>
                </li>
            </ul>
        </div>

    </body>



</section>

