<section class="layoutTemplate">

<header class="header-container">
    <h1 class="title">CODE-LIBRARY</h1>
</header>


<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">MOTIVATION</a>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Motivation For The Day</h4>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pXRviuL6vMY" frameborder="0" allowfullscreen></iframe>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">I will go forth and code</a>
    </div>
</div>

</section>